
<div class="col-md-12">
    <div class="col-middle">
        <div class="text-center text-center">
            <h1 class="error-number">Hello!</h1>
            <h2>It Looks like you are not assigned to a role</h2>
            <p>
                If you are a new user <strong>Welcome!</strong> If not, then something has gone terribly wrong
            </p>
            <p>
                Please contact an administrator to assign or reassign you to a role
            </p>
        </div>
    </div>
</div>