@model BugTracker.Models.Project



<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Back to Projects", "Index")
    </p>
}
else
{
    <p>
        @Html.ActionLink("Back to My Projects", "MyProjects")
    </p>
}

