@model BugTracker.Models.ForgotPasswordViewModel
@{ 
    Layout = null;
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BugTracker!</title>
    <link rel="icon"
          type="image/x-icon"
          href="~/Gentella/production/images/favicon.ico" />
    <!-- Bootstrap -->
    <link href="~/Gentella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Gentella/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Gentella/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/Gentella/vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Gentella/build/css/custom.min.css" rel="stylesheet">
</head>
<body class="login">
    <div>
        <div class="login_wrapper">
            <section class="login_content">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                <form>
                    <h1>Enter your email.</h1>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                    </div>
                    <div class="col-md-offset-2">
                        <input type="submit" class="btn btn-default" value="Reset Password" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="separator">
                        <div class="clearfix"></div>
                        <br />
                        <div>
                            <h1><i class="fa fa-bug"></i> ButTracker!</h1>
                            <p>©2018 Nicole Iman</p>
                        </div>
                    </div>
                </form>
                }
            </section>
        </div>
        </div>
    </body>

